html,body {
    height: 100%;
    width: 100%
}
.container-fluid,.firstrow,.rightcontent,.subpage,.top{
    height: 100%;
}
.leftmenu {
    background-color: rgb(47,64,80);
    min-height: 100%;
}
.co_text {
    height: 100px;
    text-align: center;
}
.co_text span{
    line-height: 100px;
    font-size: 19px;
    color: #ffffffea;
}
.manage a{
    color: rgb(167,177,194);
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
}
.manage{
    height: 50px;
    margin-left: 45px;
}
.toprow{
    background-color: #ffffff;
    height: 43px;
    line-height:43px;
    font-size: 18px;
}
.subpagerow{
    height:calc(100% - 43px);
    min-height: calc(100% - 43px);
}
.accordion{
	width: 130%;
}