<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<!-- 配置SpringMVC -->
	<!-- 1.开启SpringMVC注解模式 -->
	<mvc:annotation-driven />

	<!-- 2.静态资源默认servlet配置 
	(1)加入对静态资源的处理：js,gif,png 
	(2)允许使用"/"做整体映射 -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
	<mvc:default-servlet-handler />

	<!-- 3.定义视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 4.扫描web相关的bean -->
	<context:component-scan base-package="com.peizhiwei.community.admin.web" />
	<context:component-scan base-package="com.peizhiwei.community.owner.web" />
	
	<!-- 5.拦截器 -->
	<mvc:interceptors>
		<!-- 校验是否已登录了管理系统的拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<mvc:exclude-mapping path="/admin/adminlogin"/>
			<mvc:exclude-mapping path="/admin/checklogin"/>
			<mvc:exclude-mapping path="/admin/checkadmin"/>
			<bean id="AdminLoginInterceptor" class="com.peizhiwei.community.interceptor.admin.AdminLoginInterceptor" />
		</mvc:interceptor>
		<!-- 校验业主是否已登录的拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/owner/**"/>
			<mvc:exclude-mapping path="/owner/ownerlogin"/>
			<mvc:exclude-mapping path="/owner/checklogin"/>
			<bean id="OwnerLoginInterceptor" class="com.peizhiwei.community.interceptor.owner.OwnerLoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>